:root {
    --primary: #2D4840;
    --secondary: #F5F5F5;
    --tertiary: #dec16b;
    --quaternary: #2b2b2b;
    --white: #FFFFFF;
    --black: #000000;
}

@font-face {
    font-display: swap;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: url('@/assets/fonts/merriweather-v33-latin-300.woff2') format('woff2');
}

html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    overflow-x: hidden;
    font-family: 'Merriweather', serif;
}

* {
    font-family: inherit;
}